

    /* .card {
       padding:0; 
       border-radius:10%; 
    } */
    .float{
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:#183661;
      color:#FFF;
      border-radius:50%;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
      display:none;
      z-index: 444;
    } 

    .my-float {
      width: 44px;
      height: 44px;
      margin-top:7px;
      margin-left:2px;
      }
