
body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans";
    }
    img{
    height: 230px;
    }
    .card{
    padding-top: 10px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    }
    .bi{
    text-align: right;
    padding-right: 10px;
    font-size: 26px;
    cursor: pointer;
    }
    h5{
    padding-top: 15px;
    }
    .btn{
    padding: 5px 25px;
    margin-top: 10px;
    }
    @media(max-width: 768px){
    img{
    height: 100%;
    }
    }
    @media(max-width: 575px){
    .container{
    width: 90%;
    }
    }


    .card {
       padding:0; 
       border-radius:10%; 
    }
    .float{
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:rgb(204, 0, 177);
      color:#FFF;
      border-radius:50%;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
      display:none;
    } 

    .my-float {
      width: 44px;
      height: 44px;
      margin-top:7px;
      margin-left:2px;
      }
